@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 31, 41, 55;
    --background-start-rgb: 244, 246, 248;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .btn-primary {
    @apply bg-icat-green text-white font-medium py-2 px-4 rounded-md transition-colors hover:bg-icat-green-dark;
  }
  .btn-secondary {
    @apply bg-icat-blue text-white font-medium py-2 px-4 rounded-md transition-colors hover:bg-icat-blue-dark;
  }
  .btn-accent {
    @apply bg-icat-yellow text-icat-gray-dark font-medium py-2 px-4 rounded-md transition-colors hover:brightness-95;
  }
}
